<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" *ngFor="let slide of slideList; index as i" [attr.data-slide-to]="i" [class.active]="!i"></li>
  </ol>
  <div class="carousel-inner">
    <!--div class="carousel-item active">
      <img src="https://fakeimg.pl/640x360/" class="d-block w-100" alt="...">
    </div-->
    <div *ngFor="let slide of slideList; index as k" class="carousel-item" [class.active]="!k">
      <img src="{{slide.imagen}}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>